body
{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background-color: rgb(189,216,211);
}

/* #logo
{
    width: 150px;
    height: auto;
}

.logo
{
    display: flex;
    justify-content: center;
    background-color: rgb(0,176,221);
} */

/* default class */
@font-face 
{
    font-family: 'roboto';
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face 
{
    font-family: 'nunito';
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

*
{
    margin: 0px;
    padding: 0px;
    font-family: 'nunito';
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    text-align: justify;
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Roboto';
}

ul
{
    list-style-type: none;
}


input
{
    height: 1.5rem;
    
}

input,textarea
{
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
    transition:border, box-shadow 0.5s;
    outline: none;
}

input:focus,textarea:focus
{
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 2px #b8b8b8;
}
/* default class ends */


/* row 1 */
/* navigation bar  */
#hamburger-icon
{
    display: none;
    margin-left: 10px;
    height: 33px;
}


.top
{
    display: flex;
    background-color: #51afde;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    z-index: 1;
}

.logo
{
    height: 3.5em;
    margin-left: 4.5rem;
    cursor: pointer;
}

.navbar
{
    margin-right: 50px;
}

.navbar ul
{
    display: flex;
}

.navbar ul li a
{
    transition: 0.5s;
}

.navbar ul li a:hover
{
    color: rgb(75, 75, 75);
}

.navbar li
{
    margin-left: 7vw;
}

.navbar ul li a svg
{
    display: none;
    height: 19px;
}
/* navigation bar ends  */

.ourteam
{
    margin: 15px;
    display:flex ;
    justify-content: center;
}
/* logo with background stop */

.team
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    place-items: center;
}

.us,.ss
{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color:rgb(68, 68, 68) ;
    color: white;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    margin-top: 20px;
    padding: 20px;
    min-height: 600px;
}



.name , .role 
{
    font-weight: bolder;
    font-size: larger;
    margin-top: 5px;
}


.ss img,.us img
{
    height: 40%;
    width: 40%;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: 15px;
    box-shadow: 5px 5px 12px 1px  rgb(0,176,221) ;
    transform: scale(0.8);
    /* hoizontal vertical blur spread radius color */
}





.us>p,.ss>p
{
    padding: 10px;
    margin: 5px;
   text-align: justify;
   letter-spacing: normal;
   /* text-shadow: 1px 1px 1px white; */
}


.links 
{
    display: flex;
    justify-content:center;
    align-items: center;
    height:30px ;
    
    
}
.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links ul li {
    display: inline-block; /* Use inline-block to keep the list items in a row */
    margin-right: 0px; /* Adjust spacing between icons */
}

.links ul li:last-child {
    margin-right: 0; /* Remove margin from the last icon to prevent extra space */
}

/* icon animations  */

.links svg
{
    margin: 5px 30px;
    height: 38px;
    color:rgb(255, 255, 255);
    transition: transform 0.5s;
}

.links svg:hover
{
    transform: scale(1.2);
}

/* icon animation ends  */





footer > .container
{
    display: flex;
    justify-content: center;
    background-color: rgb(190,215,211);
    margin: 50px auto 15px auto;
}

/* responsiveness for small - mobile devices */
/* @media only screen and (max-width:388px){
    a i {
        font-size: 30px;
    }
    .us , .ss {
        border-radius: 10%;
    }
} */
/* responsiveness for mobile devices */
@media screen and (max-width: 415px){
   
    a{
        width: fit-content;
    }
    #facebook,#linkedin,#github{
        font-size: 25px;
    }
    li{
        width: 85px;
    }
}

@media only  screen and (max-width:476px)  {
    a i {
        font-size: 15px;
        width: 32%;
    }
    
    .team{
        grid-template-columns: 1fr;
    }
    .us {
        border-radius: 5%;
        margin-top: -2px;
    }
    .ss{
        border-radius: 6%;
        margin-top: 15px;
    }
    

}



/* Styles for devices with a minimum width of 992px and a maximum width of 1199px (typically small laptops) */
@media (min-width: 477px) and (max-width: 1199px) {
    .team{
        grid-template-columns: 1fr;
    }
    .us , .ss {
        border-radius: 11%;

    }
  }

@media screen and (max-width: 897px) 
{
    #hamburger-icon
    {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 18px;
        left: 5px;
    }

    .top
    {
        position: fixed;
        top: 0px;
        width: 100%;
        /* centering the logo */
        justify-content: center; 
    }

    .logo
    {
        margin: 0px;
    }


    .navbar
    {
        /* repositioning navbar */
        position: fixed;
        /* removing margin property */
        margin: 0px;
        inset: 4rem auto auto -9rem;
        background-color: #51afde;
        padding: 7px 27px;
        transition: inset 0.5s;
    }

    .navbar ul 
    {
        /* displaying navbar options vertically */
        flex-direction: column;
    }

    .navbar ul li
    {
        margin: 5px 0px;
    }

    .navbar ul li a 
    {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    .navbar ul li a svg
    {
        display: grid;
        place-self: center;
    }
}